<main class="p-5">
	<div class="card p-5">
		<p id="test">
			Hello World happy happy! Hello World! Hello World! Hello World! Hello World! Hello World! Hello
			World! </p>
		<span class="test">Text decoration</span>
	</div>

	<pre>	dfddd</pre>

	<div>Block</div>
	<div>Block</div>
	<div>Block</div>
	<div>Block</div>
	<span class="block">Inline-block</span>
	<span class="inlineblock">Inline</span>
	<span>Inline</span>
	{{!-- <div style="margin:50px 0 50px 100px; background: gray;"> --}}
		<div style="padding:50px 0 50px 100px; background: gray; height: 100px;">
			<span>Inline</span>
			<span>Inline</span>
			<span>Inline</span>
			<span class="blockk">Inlineblock</span>
		</div>

</main>